p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif
}
h1 {
  font-family: Andale Mono, monospace;
  text-align: center;
}
#back-img {
  background-image: linear-gradient( 90deg, rgba(128,121,121,0.5662640056022409) 0%, rgba(0,0,0,0.7819502801120448) 100%);
}
.button {
  display: block;
}
#img1 {
  position: absolute;
  opacity: 30%;
  top: 0px;
  left: 0px;
  z-index: -5;
}
#border-black {
  text-align: center;
  border: black solid;

}
.accordion {
  background-color: gray;
  color: orange;
  cursor: pointer;
  padding: 20px;
  width: 150px;
  text-align: center;
  outline: none;
}
.accordion:hover {
  background-color: black;
}
.panel {
  padding: 0 20px;
  background-color: rosybrown;
  display: none;
  overflow: hidden;
  z-index: 1;
}
#column {
  column-count: 3;
  column-rule: 5px solid gray;
}